@font-face {
  font-family: DancingScript;
  src: url("DancingScript.otf");
}
* {
  font-family: DancingScript, Helvetica, sans-serif;
}
body {
  margin: 0px;
  color: #a7f0e9;
  background-color: #20c6b0;
}
.hidden {
  display: none;
}
#logo {
  position: fixed;
  padding-left: 10px;
}
#menu {
  position: fixed;
  top: 190px;
  z-index: 10;
}
#menu a {
  text-decoration: none;
  color: #a7f0e9;
}
#menu span {
  font-size: 2em;
}
#slogan {
  position: absolute;
  top: 20px;
  left: 240px;
  font-size: 1.6em;
}
.menu-button {
  margin-left: 10px;
  margin-right: 10px;
}
#menu a.menu-button.selected {
  color: white;
}
#content-container {
  position: absolute;
  width: 800px;
  left: 250px;
  top: 70px;
}
.content-box {
  padding: 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
.content-box p {
  font-size: 1.4em;
  margin-top: 0px;
}
.content-box h3 {
  font-size: 1.7em;
  margin-bottom: 0px;
}
#home-image,
#rates {
  background-color: #fc616f;
}
#about,
#blog {
  color: #069481;
  background-color: #a7f0e9;
}
#services,
#gallery {
  background-color: #eeaa9f;
}
#social-media {
  position: fixed;
  left: 10px;
  width: 69px;
  height: 69px;
}
#social-media img {
  float: left;
}
